/* material.CSS
 add these helper classes to give depth to elements
 */

 .card:hover img {
   filter: grayscale(10%);
 }
 .card {

   border-radius: 5px;
   box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);

   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
 }
 .card:hover {
   box-shadow: 10px 10px 15px 2px rgba(0,0,0,.2);
   transform: scale(1.02);

 }
