body {
  padding: none;
  margin: 0;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  color: rgba(50,50,50,1);

}
li {
  list-style: none;
}
footer {
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  box-sizing: border-box;
}

h2 {
  padding-left: 20px;
}
.hero {
  width: 100%;
  height: 450px;
  margin-top: 30px;
  margin-bottom: 40px;
  box-sizing: border-box;

  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.hero-inset {
  background-color: rgba(255,255,255, 0.7);
  width: 80%;
  position: relative;
  padding: 20px;

}

.tagline {

}
.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(255,255,255, 0.7);
  padding: 20px;

}
.tagline-lg {
  font-size: 60px;
}
.decoration {
  width: 10px;

  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.project {

  width: 100%;
  margin: 0 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.project-image {
  width: 100%;
  height: auto;
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
}
.project-description {
  padding: 0 20px;
}

@media screen and (min-width: 600px){
  .hero{
    height: 350px;

  }
  .tagline{

  }
  .project {
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 50px;
  }
  .project-image-right .project-image {
    order: 2;
  }

  .project-image {
  width: 40%;
  }
  .project-description {
    width: 50%;
    padding: 0;
  }

}
@media screen and (min-width: 900px){
  .main {
    width: 960px;
    margin: 0 auto;
  }
  .project {
    margin-bottom: 70px;
  }
  .tagline{

  }
}
