body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.hero {
  padding: 30px;
  font-size: 64px;
  background-color: rgb(200,200,200);


}
nav {
  padding: 10px 30px 10px 30px;
}
section {
  padding: 30px;
}
section .title {}
section.about{
  font-size: 32px;
}
a {
  text-decoration: none;
  color: inherit;
}
.card {
  min-height: 100px;
  background-color: white;
  padding: 30px;
  margin-top: 30px;


}
section.work{
  background-color: rgb(200,200,200);
  padding-bottom: 50px;
}
footer {
  padding: 30px;
  color: white;
  background-color: gray;
  position: relative;
}
footer .contact {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}
footer .icon {
  border-radius: 30px;
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  flex-align: center;
padding: 5px;
  justify-content: space-around;

}
footer .contact_linkedin{
  width: 35px;
  object-fit:contain;

}
footer .contact_github{
object-fit:contain;
  width: 25px;


}
footer .email{
  padding: 20px 0;
}
footer .copyright{
  padding: 10px 0;

  font-size: 12px;
}
@media screen and (min-width: 500px){

  }

  @media screen and (min-width: 900px){

    }
  }
}
