body {
  padding: none;
  margin: 0;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;


}
a {
  text-decoration: none;
  color: inherit;
}

.nav {
  background: gray;
  height: 30px;
  width: 100%;

}
.hero {

  height: 300px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.project {

  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.project-image {
  width: 100%;
  height: auto;
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
}
.project-description {
  padding: 0 20px;
}
@media screen and (min-width: 600px){
  .project {
    justify-content: space-between;
  }
  .project-image-right .project-image {
    order: 2;
  }

  .project-image {
  width: 40%;
  }
  .project-description {
    width: 50%;
  }
}
