body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.87);
  
}
.title {
  font-size: 36px;
}
#background {
  padding-top: 10px;
}
.toggleLabel {
  
  font-weight: 500;
  position: absolute;
}
.label1 {
  top: 5px;
  left: -30px;
  font-size: 40px;
}
.label2 {
  top: 5px;
  right: -30px;
  font-size: 40px;
}
.labelHolder {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 60px;
  position: relative;
}
.clear {
  clear: both;
}

.b1 {
  background-color: #5c6bc0;
  height: 2000px;
  transition: background-color 2s;
}
.b2 {
  background-color: #26c6da;
}
.loginForm {
  width: 286px;
  
  background-color: rgb(250,250,250);
  margin: 0 auto 50px auto;
  text-align: center;
  padding: 5px 40px 40px 40px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.2);
 color: #5c6bc0;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  
  
}
input {
  background-color: transparent;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

.dark {
  color: #F18A21;
}
.light {
  color: white;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #26c6da;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 50px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/*
input:checked + .slider {
  background-color: #2196F3;
}
*/
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 30px;
}